<div class="table-responsive" ng-init="getPersons()">
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Status</th>
          <th>Amount</th>
          <th>Transactions</th>
          <th>Edit</th>
        </thead>
        <tbody>
          <tr ng-repeat="person in persons">
            <td>{{person.name}}</td>
            <td>{{getPersonStatus(person)}}</td>
            <td>{{person.amount}}</td>
            <td><a href="#!/transactions/name/{{person._id}}" class="btn">
              <span class="glyphicon glyphicon-th-list"></span>
            </a></td>
            <td><a href="#!/persons/edit/{{person._id}}" class="btn">
              <span class="glyphicon glyphicon-edit"></span>
            </a></td>
          </tr>
        </tbody>
      </table>
</div>
